
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>
<hr/>

@Html.ActionLink("Bootcamps", "Bootcamps", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })
@Html.ActionLink("Bootcamp Locations", "BootcampLocations", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })
@Html.ActionLink("Bootcamp Sessions", "Sessions", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })
@Html.ActionLink("Bootcamp Technologies", "BootcampTechnology", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })
@Html.ActionLink("Contact Forms", "ContactForms", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })
@Html.ActionLink("Links", "Links", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })
@Html.ActionLink("Locations", "Locations", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })
@Html.ActionLink("Sites", "Sites", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })
@Html.ActionLink("Technology", "Technology", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })
@Html.ActionLink("Users", "Users", "Admin", null, new { @class = "btn slim-btn", style = "color: whitesmoke" })








